.jumbotron {
    text-align: center;
    background-color: rgb(144, 67, 216);
}

img {
    height: 200px; 
    width: 200px;
}

.card {
    margin: 0 auto;
}

#profile-pic {
    transform: rotate(90deg);
    height: 200px; 
    width: 200px;
    border-radius: 50%;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0%;
    background-color: #0099cc;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

span {
    color: black;
}

.btn {
    margin-bottom: 30px;
}

#headline {
    font-weight: bold;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    /* Trying to make the About Me, Portfolio and Contact pages occupy one third of the nav-bar width */
    .nav-link {
        width: 33.33%;
        float: left;
        text-align: center;
    }


}